<h1>Add</h1>
<form action="/add" method="post">
    <div class="input-field">

        <input type="text" id="title" name="title"  class="validate" required>
        <label for="title">Name of course</label>
        <span class="helper-text" data-error="enter the name" data-success="right">Helper text</span>

    </div>
    <div class="input-field">
        <input type="number" id="price"  name="price" class="validate" required min="1">
        <label for="price">Price of course</label>
        <span class="helper-text" data-error="enter the price" data-success="right">Helper text</span>

    </div>
    <div class="input-field">
        <input type="text" id="img" name="img"  class="validate" required>
        <label for="img">URL of Image course</label>
        <span class="helper-text" data-error="past url of image" data-success="right">Helper text</span>

    </div>
    <button class="btn btn-primary" > Add Course</button>
</form>


